@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.slide-container {
  /* background-color: cadetblue; */
  /* width: 100%; */
}
.slide-container img {
  width: 100%;
  /* height: 300px; */
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin-top: 12px; */
}
.collection-main-container h1 {
  padding: 13px;
  font-family: 'Kanit', sans-serif;
}
.collection-cards {
  display: flex;
}
.collection-card-prim div img {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  width: 82%;
}
.collection-card-prim div img:hover {
  box-shadow: rgba(75, 82, 83, 0.76) 0px 3px 8px;
  transition: 0.6s;
  cursor: pointer;
}
.categories-main-container h1 {
  margin-top: 37px;
  padding-top: 13px;
  /* font-weight: 900; */
  font-family: 'Kanit', sans-serif;
}
.categories-cards {
  display: flex;
}
.categories-card-prim div img {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  width: 79%;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}
.categories-card-prim .img-container {
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}
.categories-card-prim div img:hover {
  /* box-shadow: rgba(10, 169, 212, 0.76) 0px 3px 8px; */
  cursor: pointer;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.categories-main-container, .collection-main-container{
    margin: 19px;
}

.categories-grid{
  margin: 12px 49px;
}