@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
.subcategory-main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 7px auto;
}
.card-main {
  margin: 0 auto;
  width: 92%;
  min-height: 23%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.card-main:hover {
  transition: 0.4s;
  transform: scale(1.02);
}

.subcategory-main-container {
  display: flex;
  margin: 0px 8px;
}
.subcategory-main-container .aside {
  width: 23%;
  box-shadow: rgba(0, 0, 0, 0.301) 1.95px 1.95px 2.6px;
}
.card {
  margin: 13px;
}

.card .wishlist-icon {
  width: 10%;
  position: absolute;
  top: 2%;
  left: 71%;
  z-index: 999;
  cursor: pointer;
}

.filter-div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 12px;
  width: 81%;
  padding: 4px;
  margin: 13px auto;
  font-family: "Roboto", sans-serif;
}
.filter-div label {
  font-size: 16.4px;
  margin-top: 13px;
  padding: 4px;
  font-weight: 700;
}
.filter-div select {
  background-color: #0c365a;
  border: none;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  font-family: "Roboto", sans-serif;
  padding: 7px;
  color: white;
  border-radius: 4px;
}

.filter-div select option {
  font-size: 16.2px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.subcategory-search {
  margin-top: 13px;
}

/* .subcategory-main-filter {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 22%;
  width: 68%;
} */

.wishlist-icon {
  width: 10%;
  position: absolute;
  top: 27%;
    left: 38%;
  z-index: 999;
  cursor: pointer;
}
.wishlist-icon-fliter .wishlist-icon {
  width: 10%;
  position: absolute;
  top: 28%;
  left: 48%;
  z-index: 999;
  cursor: pointer;
}

.subcategory-main .card{
  width: 288px;
}