.subcategory-main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 7px auto;
}
.card-main {
  margin: 0 auto;
  width: 92%;
  min-height: 23%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.card-main:hover {
  transition: 0.4s;
  transform: scale(1.02);
}

.subcategory-main-container {
  display: flex;
  margin: 0px 8px;
}
.subcategory-main-container .aside {
  width: 222px;
}
.card {
  margin: 13px;
}

.card .wishlist-icon {
  width: 10%;
  position: absolute;
  top: 2%;
  left: 71%;
  z-index: 999;
  cursor: pointer;
}

.filter-div {
  font-size: 14px;
  margin-top: 12px;
}
.filter-div select {
  background-color: aliceblue;
  border: none;
  width: 44%;
  font-family: monospace;
  margin: 4px;
}

.filter-div select option {
  color: rgb(0, 0, 0);
  font-size: 15.2px;
}
.subcategory-search {
  margin-top: 13px;
}

.subcategory-main-filtered {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 22%;
  width: 68%;
}
