.cart-main {
  display: flex;
}
.cart-main-prim {
  width: 56%;
}
.cart-main .cart-product-main {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.cart-product-main-img {
  margin: 32px;
  display: flex;
}
.cart-product-main-img img {
  width: 26.7%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cart-product-main-product-desc {
  margin: 32px;
}

.cart-product-order {
  width: 90%;
  margin: 32px;
}
.cart-product-order > Button {
  width: 58%;
  margin: 13px !important;
}

.billing-details {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.589) 0px 3px 7px -3px;
  margin: 13px;
  padding: 13px;
}

.billing-details div:nth-child(1) {
  border-bottom: 1px solid rgba(75, 75, 75, 0.541);
}
.billing-details div:nth-child(3) {
  border-bottom: 1px solid rgba(75, 75, 75, 0.541);
}

.billing-details p{
  font-size: 17px;
  font-weight: 900;
}
.billing-details p:nth-child(4){
  padding: 6px;
}
/* .billing-details p:nth-child(even) {
  font-size: 18px;
  line-height: 18px;
} */

.btn-div span Button {
  /* background-color: green !important; */
  color: orange;
  text-align: center !important;
  margin: 7px !important;
}
.btn-div span Button:hover {
  background-color: green !important;
  color: white !important;
}
