@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
/* font-family: 'Macondo', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SignWriting&display=swap");
/* font-family: 'Noto Sans SignWriting', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
/* font-family: 'Raleway', sans-serif; */

.ui.menu > .item:first-child {
  border-radius: 0.28571429rem 0 0 0.28571429rem;
  margin-left: 12%;
}

.header-main .logo-head {
  padding: 8px;
  width: 100%;
  font-family: "Macondo", cursive;
  font-size: 2.3em;
  /* margin: 13px; */
  margin-left: 0;
  font-weight: 900;
  background-image: linear-gradient(rgb(240, 224, 2), rgb(235, 213, 16));
  color: white;
  background-size: 100% 6px;
  background-repeat: no-repeat;
  background-position: 60% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}
.ui.menu > .item:first-child {
  margin-left: 28px;
}
.ui.menu:not(.vertical) .item {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding-left: 33px;
}
.header-main .logo-head:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}
.header-main .logo-head p {
  margin: 0px;
  line-height: 27px;
}
.header-main .ui.menu:first-child {
  margin-top: 0;
  background: rgba(220, 20, 60, 0.938);
  border-radius: 0;
  color: white;
}
.ui.menu:not(.vertical) .item:hover {
  /* background-color: rgba(236, 236, 236, 0.644); */
  color: white;
}
.header-main .ui.menu .active {
  background: white !important;
}
.ui.menu {
  color: yellow;
}
.ui.menu .active.item {
  font-family: "Playfair Display", serif;
}
/* .header-options {
  min-height: 7vh;
  background-color: white;
  border: 1px solid rgb(73, 78, 82);
  display: flex;
  width: 100%;
  position: absolute;
} */

/* .ui.menu .item > i.icon {
  color: white;
} */
/* .ui.menu .item > i.icon:hover {
  transform: scale(1.1);
  transition: 0.4s;
  border: 1px solid rgb(73, 78, 82);
} */
.badgestyle {
  position: absolute;
  top: 19px;
  right: 11px;
}

i.big.icon {
  color: white;
}

.search-comp {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 410px;
  color: black;
  text-align: center;
  margin-top: 6px;
}
.ui.three.cards {
  text-align: center;
}
.ui.card .content {
  text-align: center;
}
.search-card {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header-main .header-main-prim {
  }
  .ui.menu > .item:first-child {
    font-size: 11px;
    margin: auto auto;
  }
  .header-main .ui.menu:first-child a {
    color: white;
    font-size: 11px;
  }
}
