.product-component-main {
  display: flex;
  justify-content: space-around;
  margin: 54px;
}
.size-main h4 {
  margin: 0;
  margin-top: 7px;
}
.size-main ul {
  list-style: none;
  display: inline-flex;
}
.size-main ul li {
  padding: 4px;
  border: 2px solid rgb(75, 70, 71);
  border-radius: 1em 2em 3em 4em;
  margin: 8px;
  cursor: pointer;
}

.product-profile {
  box-shadow: rgba(0, 0, 0, 0.603) 0px 3px 8px;
}
